body {
  background-color: hsl(227, 88%, 10%);
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  flex-direction: row;
  padding: 30px 60px;
  margin: 10%;
  border: 1px solid red;
  border-radius: 10px;
  background-color: hsla(249, 44%, 31%, 0.5);
}

img {
  filter: opacity(0.5) drop-shadow(0 0 0 purple);
}

.image {
  filter: opacity(0.5) drop-shadow(0 0 0 purple);
  width: auto;
  margin: 0;
  padding: 0%;
}

a {
  color: hsla(293, 77%, 43%, 0.967);
}

.discover {
  font-weight: lighter;
  font-size: 25px;
}